.card {
    margin: 20px;   
}


.row {
    margin:auto;
    max-width: 1000px;
}

body {
    background-image: url("../images/background01.jpg");
    background-repeat: no-repeat;
}

h1 {
    margin:auto;
    max-width: 950px;
    color: blanchedalmond;
    text-align: center;
}
